body {
    font-family: Arial, sans-serif;
    margin: none;
    padding: 0 0;
    font-size: 20px;
    line-height: 1.6;
    background-color: #c4bdbd;
}

body h2 {

        font-family: "Bungee", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 38px;   
        margin: 0;
        padding: 0 0;
        overflow: left;

}

header .container img{
        width: 180px; 
        height: auto;
        float: left;
        margin-right: 10px;

    
}

.container {
    width: 80%;
    margin: 0 auto;
}

header img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 75px;
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 200;

}

header .container h2{
    float: left;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}

section {
    padding: 50px 0;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personagem {
    flex: 0 0 calc(33.333% - 20px);
    margin: 0 10px 20px;
    text-align: center;
}

.personagem img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.item-galeria img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px 0;
}

form input,
form textarea,
form button{
    display: block;
    width: 350px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #c4bdbd;
    border-width:3px;
    border-color: #222;
}

form textarea{
    resize: none;
}

form button{
    width: 395px;
    background-color: #EAEAEA;

}

form button:hover {
    background-color: #93C572;
    cursor: pointer;
}

header .fundo-site img {
    margin: 0;
    padding: 0;
    background-image: url(./imagens/1313397.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
}